<div class="row">
    <img class="img-pizza" alt="Піца" src="<%= pizza.icon %>">

    <p class="order-name-size"><strong><%= pizza.title %></strong> (<%= pizza[size].print %>)</p>

    <div class="order-info">
        <img class="img-size" src="../www/assets/images/size-icon.svg">
        <span class="size"><small><%= pizza[size].size %></small></span>
        <img class="img-weight" src="../www/assets/images/weight.svg">
        <span class="weight"><small><%= pizza[size].weight %></small></span>
    </div>

    <div class="price-panel">
        <span class="price"><strong><%= (pizza[size].price)*quantity %> грн.</strong></span>
        <button type="button" class="btn btn-danger minus circle">-</button>
        <span class="amount"><strong><%= quantity %></strong></span>
        <button type="button" class="btn btn-success plus circle">+</button>
        <button type="button" class="btn btn-default delete circle">X</button>
    </div>
</div>