<div class="row">
    <img class="imgPizza" alt="Піца" src="<%= pizza.icon %>">

    <p class="orderNameSize"><strong><%= pizza.title %></strong> (<%= pizza[size].print %>)</p>
    <div class="orderInfo">
        <img class="imgSize" src="assets/images/size-icon.svg">
        <span class="size"><small><%= pizza[size].size %></small></span>
        <img class="imgWeight" src="assets/images/weight.svg">
        <span class="weight"><small><%= pizza[size].weight %></small></span>
    </div>
    <div class="pricePanel">
        <span class="price"><strong><%= (pizza[size].price)*quantity %> грн.</strong></span>
        <span class="amount"><strong><%= quantity %></strong></span>
    </div>
</div>